@model IEnumerable<ZarzadzanieProduktami.Models.Produkt>
@{
    ViewBag.Title = "Index";
}
<h2 class="jumbotron table-bordered text-center">Lista produktów</h2>
<div style="padding-bottom:70px">
    <div style="float:left">
        @Html.ActionLink("Dodaj nowy produkt", "Create", null, new { @class = "btn btn-primary btn-sm" })

    </div>
    <div style="float:right">
        @using (Html.BeginForm())
        {
        <div style="float:right">
            Wyszukaj : @Html.TextBox("wyszukiwanie")
            <br />
            <input style="float:right" type="submit" value="Wyszukaj" class="btn btn-primary btn-sm" />

        </div>
        }
    </div>
    
</div>

<table class="table table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategorie.NazwaKategorii)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorie.NazwaKategorii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>

            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>

@if (Model.Count() == 0)
{
    <div class="alert alert-danger " role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Błąd:</span>
        Brak produktów o podanej nazwie
    </div>
}
